.ff0{font-family:sans-serif;visibility:hidden;}
.ff1{line-height:0.901855;font-style:normal;font-weight:normal;visibility:visible;}
.ff2{line-height:1.714844;font-style:normal;font-weight:normal;visibility:visible;}
.ff3{line-height:1.714844;font-style:normal;font-weight:normal;visibility:visible;}
.ff4{line-height:1.346191;font-style:normal;font-weight:normal;visibility:visible;}
.ff5{line-height:1.364258;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls7{letter-spacing:-34.080000px;}
.ls4{letter-spacing:-28.320000px;}
.ls8{letter-spacing:-1.680000px;}
.ls0{letter-spacing:0.000000px;}
.ls1{letter-spacing:0.240000px;}
.ls2{letter-spacing:1.440000px;}
.ls3{letter-spacing:6.240000px;}
.ls5{letter-spacing:7.200000px;}
.ls6{letter-spacing:8.160000px;}
.sc_{text-shadow:none;}
.sc1{text-shadow:-0.015em 0 rgb(0,0,0),0 0.015em rgb(0,0,0),0.015em 0 rgb(0,0,0),0 -0.015em  rgb(0,0,0);}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc1{-webkit-text-stroke:0.015em rgb(0,0,0);text-shadow:none;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._16{margin-left:-35.480000px;}
._1e{margin-left:-32.160000px;}
._1f{margin-left:-29.760000px;}
._c{margin-left:-27.840000px;}
._15{margin-left:-26.120000px;}
._19{margin-left:-24.960000px;}
._5{margin-left:-23.880000px;}
._1b{margin-left:-20.160000px;}
._1d{margin-left:-17.280000px;}
._11{margin-left:-14.509440px;}
._17{margin-left:-12.000000px;}
._9{margin-left:-10.560000px;}
._1c{margin-left:-9.480000px;}
._d{margin-left:-8.160000px;}
._f{margin-left:-6.800000px;}
._a{margin-left:-5.080000px;}
._b{margin-left:-3.840000px;}
._0{margin-left:-2.170560px;}
._12{margin-left:-1.045760px;}
._2{width:1.269440px;}
._10{width:2.865600px;}
._20{width:4.683520px;}
._14{width:5.720000px;}
._13{width:6.840000px;}
._1a{width:8.160000px;}
._3{width:9.570560px;}
._4{width:11.160000px;}
._6{width:12.960000px;}
._e{width:14.880000px;}
._1{width:16.330560px;}
._8{width:18.440000px;}
._7{width:21.240000px;}
._18{width:23.240000px;}
.fc1{color:rgb(255,0,0);}
.fc0{color:rgb(0,0,0);}
.fs2{font-size:36.000000px;}
.fs3{font-size:39.840000px;}
.fs1{font-size:40.000000px;}
.fs0{font-size:63.840000px;}
.fs4{font-size:72.000000px;}
.y1{bottom:0.000000px;}
.y11{bottom:3.960000px;}
.y62{bottom:3.990000px;}
.y66{bottom:5.640000px;}
.y8{bottom:5.760000px;}
.y67{bottom:6.120000px;}
.y7{bottom:7.560000px;}
.y68{bottom:11.520000px;}
.yb0{bottom:12.840000px;}
.y5{bottom:17.664000px;}
.ya6{bottom:18.000000px;}
.ya7{bottom:18.480000px;}
.y36{bottom:23.880000px;}
.y1d{bottom:23.900000px;}
.y40{bottom:23.910000px;}
.ya5{bottom:23.996000px;}
.y0{bottom:24.000000px;}
.y54{bottom:24.030000px;}
.y65{bottom:36.984000px;}
.y16{bottom:43.920000px;}
.y1c{bottom:43.940000px;}
.y26{bottom:43.950000px;}
.y64{bottom:44.036000px;}
.y10{bottom:44.040000px;}
.y61{bottom:44.070000px;}
.y27{bottom:44.544000px;}
.y96{bottom:45.144000px;}
.y55{bottom:45.624000px;}
.y8d{bottom:46.104000px;}
.y2b{bottom:63.956000px;}
.yf{bottom:63.960000px;}
.y1b{bottom:63.980000px;}
.y25{bottom:63.990000px;}
.y63{bottom:65.064000px;}
.y97{bottom:77.996000px;}
.y1f{bottom:78.000000px;}
.y18{bottom:78.020000px;}
.y28{bottom:78.116000px;}
.y98{bottom:78.356000px;}
.y34{bottom:78.360000px;}
.y19{bottom:78.380000px;}
.y29{bottom:78.476000px;}
.y20{bottom:78.480000px;}
.y58{bottom:83.876000px;}
.y35{bottom:83.880000px;}
.y1a{bottom:83.900000px;}
.y3f{bottom:83.910000px;}
.y2a{bottom:83.996000px;}
.ye{bottom:84.000000px;}
.y3b{bottom:84.020000px;}
.y24{bottom:84.030000px;}
.ya1{bottom:86.064000px;}
.y41{bottom:98.036000px;}
.y13{bottom:98.040000px;}
.y38{bottom:98.060000px;}
.y22{bottom:98.070000px;}
.y56{bottom:98.396000px;}
.y45{bottom:98.400000px;}
.y6b{bottom:98.420000px;}
.y23{bottom:98.430000px;}
.y42{bottom:98.516000px;}
.y39{bottom:98.540000px;}
.y14{bottom:98.550000px;}
.y57{bottom:103.916000px;}
.y46{bottom:103.920000px;}
.y51{bottom:103.940000px;}
.y15{bottom:103.950000px;}
.y43{bottom:104.036000px;}
.yd{bottom:104.040000px;}
.y3a{bottom:104.060000px;}
.ya4{bottom:104.066000px;}
.y60{bottom:104.070000px;}
.ya{bottom:114.840000px;}
.y3d{bottom:117.990000px;}
.y7a{bottom:118.080000px;}
.y69{bottom:118.110000px;}
.yb{bottom:118.440000px;}
.y3e{bottom:118.470000px;}
.y79{bottom:123.956000px;}
.yc{bottom:123.960000px;}
.y50{bottom:123.980000px;}
.y70{bottom:123.986000px;}
.y32{bottom:123.990000px;}
.y6d{bottom:138.146000px;}
.yaa{bottom:138.150000px;}
.y6e{bottom:138.506000px;}
.yab{bottom:138.510000px;}
.y5d{bottom:143.900000px;}
.y78{bottom:143.906000px;}
.y86{bottom:143.910000px;}
.y73{bottom:144.000000px;}
.y4f{bottom:144.020000px;}
.y6f{bottom:144.026000px;}
.y31{bottom:144.030000px;}
.y21{bottom:145.100000px;}
.y95{bottom:145.580000px;}
.y72{bottom:158.040000px;}
.y5b{bottom:158.060000px;}
.y75{bottom:158.066000px;}
.y2e{bottom:158.070000px;}
.y5c{bottom:158.420000px;}
.y76{bottom:158.426000px;}
.y53{bottom:158.430000px;}
.ya2{bottom:158.546000px;}
.y2f{bottom:158.550000px;}
.y4e{bottom:163.940000px;}
.y77{bottom:163.946000px;}
.y30{bottom:163.950000px;}
.y7f{bottom:164.040000px;}
.y94{bottom:164.060000px;}
.ya3{bottom:164.066000px;}
.y5f{bottom:164.070000px;}
.y3c{bottom:165.140000px;}
.y52{bottom:166.100000px;}
.y7c{bottom:178.080000px;}
.y8e{bottom:178.106000px;}
.ya8{bottom:178.110000px;}
.y8f{bottom:178.466000px;}
.ya9{bottom:178.470000px;}
.y7d{bottom:178.590000px;}
.y4d{bottom:183.980000px;}
.y90{bottom:183.986000px;}
.y7e{bottom:183.990000px;}
.y5e{bottom:185.540000px;}
.y80{bottom:198.030000px;}
.y92{bottom:198.140000px;}
.y84{bottom:198.390000px;}
.y93{bottom:198.500000px;}
.y81{bottom:198.510000px;}
.y8c{bottom:203.900000px;}
.y85{bottom:203.910000px;}
.y4c{bottom:204.020000px;}
.y82{bottom:204.030000px;}
.y8b{bottom:223.940000px;}
.y4b{bottom:223.970000px;}
.ya0{bottom:224.060000px;}
.y6c{bottom:225.650000px;}
.y74{bottom:226.130000px;}
.y88{bottom:237.980000px;}
.y48{bottom:238.130000px;}
.y89{bottom:238.460000px;}
.y49{bottom:238.490000px;}
.y8a{bottom:243.980000px;}
.y4a{bottom:244.010000px;}
.y87{bottom:246.650000px;}
.y9f{bottom:264.020000px;}
.y1e{bottom:265.610000px;}
.y99{bottom:266.570000px;}
.y9e{bottom:284.060000px;}
.y9d{bottom:304.010000px;}
.y37{bottom:305.570000px;}
.y9a{bottom:318.170000px;}
.y9b{bottom:318.530000px;}
.y9c{bottom:324.050000px;}
.y91{bottom:326.090000px;}
.y6a{bottom:346.130000px;}
.y47{bottom:346.610000px;}
.y17{bottom:366.170000px;}
.y7b{bottom:386.590000px;}
.y71{bottom:406.630000px;}
.y33{bottom:426.190000px;}
.y12{bottom:466.630000px;}
.yaf{bottom:472.030000px;}
.yae{bottom:476.950000px;}
.y83{bottom:507.190000px;}
.yad{bottom:513.790000px;}
.y2d{bottom:526.630000px;}
.yac{bottom:527.110000px;}
.y5a{bottom:546.670000px;}
.y9{bottom:587.140000px;}
.y44{bottom:607.180000px;}
.y59{bottom:687.220000px;}
.y2c{bottom:707.140000px;}
.y6{bottom:727.660000px;}
.y4{bottom:760.800000px;}
.y3{bottom:779.760000px;}
.y2{bottom:802.800000px;}
.hc{height:20.040000px;}
.h5{height:23.640000px;}
.h12{height:27.600000px;}
.h1b{height:36.720000px;}
.h6{height:37.687500px;}
.h11{height:39.960000px;}
.h4{height:41.415703px;}
.h3{height:49.898438px;}
.h2{height:50.124375px;}
.h1c{height:56.531250px;}
.ha{height:99.960000px;}
.h9{height:99.984000px;}
.hb{height:100.080000px;}
.hf{height:120.000000px;}
.h8{height:120.020000px;}
.he{height:139.940000px;}
.h7{height:140.040000px;}
.h13{height:140.060000px;}
.h14{height:160.100000px;}
.hd{height:180.020000px;}
.h15{height:200.060000px;}
.h17{height:219.980000px;}
.h16{height:220.010000px;}
.h19{height:220.100000px;}
.h18{height:259.940000px;}
.h10{height:260.090000px;}
.h1a{height:340.130000px;}
.h1{height:794.000000px;}
.h0{height:841.920000px;}
.w6{width:28.200000px;}
.w3{width:41.760000px;}
.w5{width:42.000000px;}
.w8{width:125.540000px;}
.w7{width:375.190000px;}
.w4{width:403.270000px;}
.w1{width:547.500000px;}
.w2{width:595.319991px;}
.w0{width:595.320000px;}
.x1{left:0.000009px;}
.xb{left:5.160000px;}
.x10{left:7.200000px;}
.x7{left:8.880000px;}
.xd{left:14.880000px;}
.xa{left:17.880000px;}
.x0{left:24.000000px;}
.x6{left:64.344000px;}
.x2{left:103.579991px;}
.x8{left:106.580000px;}
.xc{left:134.660000px;}
.x9{left:177.630000px;}
.x3{left:229.249991px;}
.xf{left:232.130000px;}
.xe{left:242.089991px;}
.x5{left:244.609991px;}
.x4{left:259.729991px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls7{letter-spacing:-45.440000pt;}
.ls4{letter-spacing:-37.760000pt;}
.ls8{letter-spacing:-2.240000pt;}
.ls0{letter-spacing:0.000000pt;}
.ls1{letter-spacing:0.320000pt;}
.ls2{letter-spacing:1.920000pt;}
.ls3{letter-spacing:8.320000pt;}
.ls5{letter-spacing:9.600000pt;}
.ls6{letter-spacing:10.880000pt;}
.ws0{word-spacing:0.000000pt;}
._16{margin-left:-47.306667pt;}
._1e{margin-left:-42.880000pt;}
._1f{margin-left:-39.680000pt;}
._c{margin-left:-37.120000pt;}
._15{margin-left:-34.826667pt;}
._19{margin-left:-33.280000pt;}
._5{margin-left:-31.840000pt;}
._1b{margin-left:-26.880000pt;}
._1d{margin-left:-23.040000pt;}
._11{margin-left:-19.345920pt;}
._17{margin-left:-16.000000pt;}
._9{margin-left:-14.080000pt;}
._1c{margin-left:-12.640000pt;}
._d{margin-left:-10.880000pt;}
._f{margin-left:-9.066667pt;}
._a{margin-left:-6.773333pt;}
._b{margin-left:-5.120000pt;}
._0{margin-left:-2.894080pt;}
._12{margin-left:-1.394347pt;}
._2{width:1.692587pt;}
._10{width:3.820800pt;}
._20{width:6.244693pt;}
._14{width:7.626667pt;}
._13{width:9.120000pt;}
._1a{width:10.880000pt;}
._3{width:12.760747pt;}
._4{width:14.880000pt;}
._6{width:17.280000pt;}
._e{width:19.840000pt;}
._1{width:21.774080pt;}
._8{width:24.586667pt;}
._7{width:28.320000pt;}
._18{width:30.986667pt;}
.fs2{font-size:48.000000pt;}
.fs3{font-size:53.120000pt;}
.fs1{font-size:64.000000pt;}
.fs0{font-size:85.120000pt;}
.fs4{font-size:96.000000pt;}
.y1{bottom:0.000000pt;}
.y11{bottom:5.280000pt;}
.y62{bottom:5.320000pt;}
.y66{bottom:7.520000pt;}
.y8{bottom:7.680000pt;}
.y67{bottom:8.160000pt;}
.y7{bottom:10.080000pt;}
.y68{bottom:15.360000pt;}
.yb0{bottom:17.120000pt;}
.y5{bottom:23.552000pt;}
.ya6{bottom:24.000000pt;}
.ya7{bottom:24.640000pt;}
.y36{bottom:31.840000pt;}
.y1d{bottom:31.866667pt;}
.y40{bottom:31.880000pt;}
.ya5{bottom:31.994667pt;}
.y0{bottom:32.000000pt;}
.y54{bottom:32.040000pt;}
.y65{bottom:49.312000pt;}
.y16{bottom:58.560000pt;}
.y1c{bottom:58.586667pt;}
.y26{bottom:58.600000pt;}
.y64{bottom:58.714667pt;}
.y10{bottom:58.720000pt;}
.y61{bottom:58.760000pt;}
.y27{bottom:59.392000pt;}
.y96{bottom:60.192000pt;}
.y55{bottom:60.832000pt;}
.y8d{bottom:61.472000pt;}
.y2b{bottom:85.274667pt;}
.yf{bottom:85.280000pt;}
.y1b{bottom:85.306667pt;}
.y25{bottom:85.320000pt;}
.y63{bottom:86.752000pt;}
.y97{bottom:103.994667pt;}
.y1f{bottom:104.000000pt;}
.y18{bottom:104.026667pt;}
.y28{bottom:104.154667pt;}
.y98{bottom:104.474667pt;}
.y34{bottom:104.480000pt;}
.y19{bottom:104.506667pt;}
.y29{bottom:104.634667pt;}
.y20{bottom:104.640000pt;}
.y58{bottom:111.834667pt;}
.y35{bottom:111.840000pt;}
.y1a{bottom:111.866667pt;}
.y3f{bottom:111.880000pt;}
.y2a{bottom:111.994667pt;}
.ye{bottom:112.000000pt;}
.y3b{bottom:112.026667pt;}
.y24{bottom:112.040000pt;}
.ya1{bottom:114.752000pt;}
.y41{bottom:130.714667pt;}
.y13{bottom:130.720000pt;}
.y38{bottom:130.746667pt;}
.y22{bottom:130.760000pt;}
.y56{bottom:131.194667pt;}
.y45{bottom:131.200000pt;}
.y6b{bottom:131.226667pt;}
.y23{bottom:131.240000pt;}
.y42{bottom:131.354667pt;}
.y39{bottom:131.386667pt;}
.y14{bottom:131.400000pt;}
.y57{bottom:138.554667pt;}
.y46{bottom:138.560000pt;}
.y51{bottom:138.586667pt;}
.y15{bottom:138.600000pt;}
.y43{bottom:138.714667pt;}
.yd{bottom:138.720000pt;}
.y3a{bottom:138.746667pt;}
.ya4{bottom:138.754667pt;}
.y60{bottom:138.760000pt;}
.ya{bottom:153.120000pt;}
.y3d{bottom:157.320000pt;}
.y7a{bottom:157.440000pt;}
.y69{bottom:157.480000pt;}
.yb{bottom:157.920000pt;}
.y3e{bottom:157.960000pt;}
.y79{bottom:165.274667pt;}
.yc{bottom:165.280000pt;}
.y50{bottom:165.306667pt;}
.y70{bottom:165.314667pt;}
.y32{bottom:165.320000pt;}
.y6d{bottom:184.194667pt;}
.yaa{bottom:184.200000pt;}
.y6e{bottom:184.674667pt;}
.yab{bottom:184.680000pt;}
.y5d{bottom:191.866667pt;}
.y78{bottom:191.874667pt;}
.y86{bottom:191.880000pt;}
.y73{bottom:192.000000pt;}
.y4f{bottom:192.026667pt;}
.y6f{bottom:192.034667pt;}
.y31{bottom:192.040000pt;}
.y21{bottom:193.466667pt;}
.y95{bottom:194.106667pt;}
.y72{bottom:210.720000pt;}
.y5b{bottom:210.746667pt;}
.y75{bottom:210.754667pt;}
.y2e{bottom:210.760000pt;}
.y5c{bottom:211.226667pt;}
.y76{bottom:211.234667pt;}
.y53{bottom:211.240000pt;}
.ya2{bottom:211.394667pt;}
.y2f{bottom:211.400000pt;}
.y4e{bottom:218.586667pt;}
.y77{bottom:218.594667pt;}
.y30{bottom:218.600000pt;}
.y7f{bottom:218.720000pt;}
.y94{bottom:218.746667pt;}
.ya3{bottom:218.754667pt;}
.y5f{bottom:218.760000pt;}
.y3c{bottom:220.186667pt;}
.y52{bottom:221.466667pt;}
.y7c{bottom:237.440000pt;}
.y8e{bottom:237.474667pt;}
.ya8{bottom:237.480000pt;}
.y8f{bottom:237.954667pt;}
.ya9{bottom:237.960000pt;}
.y7d{bottom:238.120000pt;}
.y4d{bottom:245.306667pt;}
.y90{bottom:245.314667pt;}
.y7e{bottom:245.320000pt;}
.y5e{bottom:247.386667pt;}
.y80{bottom:264.040000pt;}
.y92{bottom:264.186667pt;}
.y84{bottom:264.520000pt;}
.y93{bottom:264.666667pt;}
.y81{bottom:264.680000pt;}
.y8c{bottom:271.866667pt;}
.y85{bottom:271.880000pt;}
.y4c{bottom:272.026667pt;}
.y82{bottom:272.040000pt;}
.y8b{bottom:298.586667pt;}
.y4b{bottom:298.626667pt;}
.ya0{bottom:298.746667pt;}
.y6c{bottom:300.866667pt;}
.y74{bottom:301.506667pt;}
.y88{bottom:317.306667pt;}
.y48{bottom:317.506667pt;}
.y89{bottom:317.946667pt;}
.y49{bottom:317.986667pt;}
.y8a{bottom:325.306667pt;}
.y4a{bottom:325.346667pt;}
.y87{bottom:328.866667pt;}
.y9f{bottom:352.026667pt;}
.y1e{bottom:354.146667pt;}
.y99{bottom:355.426667pt;}
.y9e{bottom:378.746667pt;}
.y9d{bottom:405.346667pt;}
.y37{bottom:407.426667pt;}
.y9a{bottom:424.226667pt;}
.y9b{bottom:424.706667pt;}
.y9c{bottom:432.066667pt;}
.y91{bottom:434.786667pt;}
.y6a{bottom:461.506667pt;}
.y47{bottom:462.146667pt;}
.y17{bottom:488.226667pt;}
.y7b{bottom:515.453333pt;}
.y71{bottom:542.173333pt;}
.y33{bottom:568.253333pt;}
.y12{bottom:622.173333pt;}
.yaf{bottom:629.373333pt;}
.yae{bottom:635.933333pt;}
.y83{bottom:676.253333pt;}
.yad{bottom:685.053333pt;}
.y2d{bottom:702.173333pt;}
.yac{bottom:702.813333pt;}
.y5a{bottom:728.893333pt;}
.y9{bottom:782.853333pt;}
.y44{bottom:809.573333pt;}
.y59{bottom:916.293333pt;}
.y2c{bottom:942.853333pt;}
.y6{bottom:970.213333pt;}
.y4{bottom:1014.400000pt;}
.y3{bottom:1039.680000pt;}
.y2{bottom:1070.400000pt;}
.hc{height:26.720000pt;}
.h5{height:31.520000pt;}
.h12{height:36.800000pt;}
.h1b{height:48.960000pt;}
.h6{height:50.250000pt;}
.h11{height:53.280000pt;}
.h4{height:55.220937pt;}
.h3{height:66.531250pt;}
.h2{height:66.832500pt;}
.h1c{height:75.375000pt;}
.ha{height:133.280000pt;}
.h9{height:133.312000pt;}
.hb{height:133.440000pt;}
.hf{height:160.000000pt;}
.h8{height:160.026667pt;}
.he{height:186.586667pt;}
.h7{height:186.720000pt;}
.h13{height:186.746667pt;}
.h14{height:213.466667pt;}
.hd{height:240.026667pt;}
.h15{height:266.746667pt;}
.h17{height:293.306667pt;}
.h16{height:293.346667pt;}
.h19{height:293.466667pt;}
.h18{height:346.586667pt;}
.h10{height:346.786667pt;}
.h1a{height:453.506667pt;}
.h1{height:1058.666667pt;}
.h0{height:1122.560000pt;}
.w6{width:37.600000pt;}
.w3{width:55.680000pt;}
.w5{width:56.000000pt;}
.w8{width:167.386667pt;}
.w7{width:500.253333pt;}
.w4{width:537.693333pt;}
.w1{width:730.000000pt;}
.w2{width:793.759988pt;}
.w0{width:793.760000pt;}
.x1{left:0.000012pt;}
.xb{left:6.880000pt;}
.x10{left:9.600000pt;}
.x7{left:11.840000pt;}
.xd{left:19.840000pt;}
.xa{left:23.840000pt;}
.x0{left:32.000000pt;}
.x6{left:85.792000pt;}
.x2{left:138.106655pt;}
.x8{left:142.106667pt;}
.xc{left:179.546667pt;}
.x9{left:236.840000pt;}
.x3{left:305.666655pt;}
.xf{left:309.506667pt;}
.xe{left:322.786655pt;}
.x5{left:326.146655pt;}
.x4{left:346.306655pt;}
}
