html {
    #preview {
        font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans, sans-serif;
        font-size: 16px;
        line-height: 1.6;
        color: #383942;
        background-color: #f9f9f9;
        overflow: initial;
        box-sizing: border-box;
        word-wrap: break-word;

        >:first-child { margin-top: 0 }

        h1, h2, h3, h4, h5, h6 {
            line-height: 1.2;
            margin-top: 1em;
            margin-bottom: 16px;
            font-weight: 600;
            color: #000;
        }

        h1 { font-size: 2.25em; padding-bottom: .3em }
        h2 { font-size: 1.75em; padding-bottom: .3em }
        h3 { font-size: 1.5em }
        h4 { font-size: 1.25em }
        h5, h6 { font-size: 1em }
        h6, del { color: #5d606e }
        strong { color: #000 }
        img { max-width: 100% }

        a {
            color: #0184bc;
            text-decoration: none;

            &:hover { color: #01a0e5; text-decoration: none }
            &:not([href]) { color: inherit; text-decoration: none }
        }

        >p { margin-top: 0; margin-bottom: 16px; word-wrap: break-word }
        >ol, >ul { margin-bottom: 16px }

        ol, ul {
            padding-left: 2em;

            &.no-list { padding: 0; list-style-type: none }
            ol, ul { margin-top: 0; margin-bottom: 0 }
        }

        li {
            margin-bottom: 0;

            &.task-list-item { list-style: none }
            >p { margin-top: 0; margin-bottom: 0 }
        }

        .task-list-item-checkbox {
            margin: 0 .2em .25em -1.8em;
            vertical-align: middle;

            &:hover { cursor: pointer }
        }

        blockquote {
            margin: 16px 0;
            font-size: inherit;
            padding: 0 15px;
            color: #5d606e;
            background-color: #eaeaea;
            border-left: 4px solid #d0d0d1;

            >:first-child { margin-top: 0 }
            >:last-child { margin-bottom: 0 }
        }

        hr {
            height: 4px;
            margin: 32px 0;
            background-color: #d0d0d1;
            border: 0 none;
        }

        table {
            margin: 10px 0 15px;
            border-collapse: collapse;
            border-spacing: 0;
            display: block;
            width: 100%;
            overflow: auto;
            word-break: keep-all;

            th { font-weight: 700; color: #000 }
            td, th { border: 1px solid #d0d0d1; padding: 6px 13px }
        }

        dl {
            padding: 0;

            dt {
                padding: 0;
                margin-top: 16px;
                font-size: 1em;
                font-style: italic;
                font-weight: 700;
            }

            dd { padding: 0 16px; margin-bottom: 16px }
        }

        code {
            font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
            font-size: .85em;
            color: #000;
            background-color: #eaeaea;
            border-radius: 3px;
            padding: .2em 0;

            &::before, &::after { letter-spacing: -.2em; content: '\00a0' }
        }

        pre {
            padding: 1em;
            overflow: auto;
            line-height: 1.45;
            border: #d0d0d1;
            border-radius: 3px;

            >code {
                padding: 0;
                margin: 0;
                word-break: normal;
                white-space: pre;
                background: 0 0;
                border: 0;
            }

            code, tt {
                display: inline;
                max-width: initial;
                padding: 0;
                margin: 0;
                overflow: initial;
                line-height: inherit;
                word-wrap: normal;
                background-color: transparent;
                border: 0;

                &::before, &::after { content: normal }
            }
        }

        .highlight {
            margin-bottom: 16px;

            pre { margin-bottom: 0; word-break: normal }
        }

        blockquote, dl, ol, p, pre, ul { margin-top: 0; margin-bottom: 16px }

        kbd {
            color: #000;
            border: 1px solid #d0d0d1;
            border-bottom: 2px solid #c1c1c2;
            padding: 2px 4px;
            background-color: #eaeaea;
            border-radius: 3px;
        }
    }
}

@media print {
    html {
        #preview {
            background-color: #f9f9f9;

            h1, h2, h3, h4, h5, h6 { color: #000; page-break-after: avoid }
            blockquote { color: #5d606e }
            pre { page-break-inside: avoid }
            table { display: table }

            img {
                display: block;
                max-width: 100%;
                max-height: 100%;
            }

            code, pre { word-wrap: break-word; white-space: pre }
        }
    }
}