<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Vue 3 Basic Web</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
    <style>
        table.stk-list {
            margin: 6px;
            border-collapse: collapse;
            width: 750px;
            font-size: 10pt;

            td {
                padding: 4px;
                border: 1px solid #ccc;
                text-align: center;
            }

            .num {
                text-align: right;
                padding-right: 8px;
            }

            thead {
                background-color: #ddd;
                position: sticky;
                top: 0;
                z-index: 2;

                button {
                    border: none;
                    background-color: transparent;
                    padding: 0 4px;
                    cursor: pointer;

                    &.active {
                        color: red;
                    }
                }
            }


        }
    </style>
</head>

<body>
    <div id="app">
        <table class="stk-list">
            <thead>
                <tr>
                    <td width="100">
                        股票代碼
                    </td>
                    <td width="150">名稱</td>
                    <td width="100">
                        <button @click="toggleOrder()">
                            收盤價
                            <span>
                                <span v-if="sortMode == 1">▲</span>
                                <span v-else-if="sortMode == 2">▼</span>
                                <span v-else>⇳</span>
                            </span>
                        </button>
                    </td>
                    <td width="100">開盤價</td>
                    <td width="100">最高價</td>
                    <td width="100">最低價</td>
                    <td width="100">成交量</td>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(stock, index) in sortedData" :key="index">
                    <td>{{ stock.Code }}</td>
                    <td>{{ stock.Name }}</td>
                    <td class="num">{{ stock.ClosingPrice }}</td>
                    <td class="num">{{ stock.OpeningPrice }}</td>
                    <td class="num">{{ stock.HighestPrice }}</td>
                    <td class="num">{{ stock.LowestPrice }}</td>
                    <td class="num">{{ stock.TradeVolume }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <script>
        function addTicks(prz, ticks) {
            const sgn = Math.sign(ticks);
            prz = parseFloat(prz);
            for (let i = 0; i < ticks; i++) {
                if (prz < 10) {
                    prz += 0.01 * sgn;
                } else if (prz < 50) {
                    prz += 0.05 * sgn;
                } else if (prz < 100) {
                    prz += 0.1 * sgn;
                } else if (prz < 500) {
                    prz += 0.5 * sgn;
                } else if (prz < 1000) {
                    prz += 1 * sgn;
                } else {
                    prz += 5 * sgn;
                }

            }
            return prz.toFixed(2);
        }
        const app = Vue.createApp({
            data() {
                return {
                    data: [],
                    sortedData: [],
                    sortMode: 0 // 0: 無排序, 1: 股價由低至高, 2: 股價由高到低
                }
            },
            methods: {
                sortData() {
                    const start = performance.now();
                    const sortedData = this.data.slice();
                    if (this.sortMode === 1) {
                        sortedData.sort((a, b) => a.ClosingPrice - b.ClosingPrice);
                    } else if (this.sortMode === 2) {
                        sortedData.sort((a, b) => b.ClosingPrice - a.ClosingPrice);
                    }
                    this.sortedData = sortedData;
                    const end = performance.now();
                    console.log(`Sorting took ${end - start} milliseconds`);
                },
                toggleOrder() {
                    this.sortMode = (this.sortMode + 1) % 3;
                    this.sortData();
                },                
                loadData() {
                    // https://openapi.twse.com.tw/v1/exchangeReport/STOCK_DAY_ALL
                    let idx = 1;
                    fetch('./STOCK_DAY_ALL.json')
                        .then(response => response.json())
                        .then(data => {
                            // 過濾無收盤價或收盤價 < 5 的資料
                            data = data.filter(item => item.ClosingPrice && parseFloat(item.ClosingPrice) >= 5); 
                            // 資料增量十倍
                            const list = [];
                            const prefixCodes = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'.split('');
                            for (let i = 0; i < 26; i++) {
                                const dupData = JSON.parse(JSON.stringify(data)).map(item => {
                                    item.Code = prefixCodes[i] + '-' + item.Code;
                                    item.Name = item.Name + ` [${idx++}]`;
                                    item.OpeningPrice = addTicks(item.OpeningPrice, Math.floor(Math.random() * 1000) - 500);
                                    item.HighestPrice = addTicks(item.OpeningPrice, Math.floor(Math.random() * 200) - 100);
                                    item.LowestPrice = addTicks(item.OpeningPrice, Math.floor(Math.random() * 200) - 100);
                                    item.ClosingPrice = addTicks(item.OpeningPrice, Math.floor(Math.random() * 200) - 100);
                                    item.HighestPrice = Math.max(item.HighestPrice, item.LowestPrice, item.ClosingPrice);
                                    item.LowestPrice = Math.min(item.LowestPrice, item.OpeningPrice, item.ClosingPrice);
                                    item.TradeVolume += Math.floor(Math.random() * 1000);
                                    return item;
                                })
                                list.push(...dupData);
                            }
                            this.data = list;
                            this.sortData();
                        })
                }
            }
        });
        const vm = app.mount('#app');
        vm.loadData();
    </script>
</body>

</html>