.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.901855;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.714844;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.714844;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.346191;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:1.364258;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls8{letter-spacing:-24.000000px;}
.ls5{letter-spacing:-5.280000px;}
.ls7{letter-spacing:-3.360000px;}
.ls9{letter-spacing:-1.680000px;}
.lsa{letter-spacing:-0.480000px;}
.ls0{letter-spacing:0.000000px;}
.ls1{letter-spacing:0.240000px;}
.ls4{letter-spacing:0.480000px;}
.ls2{letter-spacing:1.440000px;}
.ls3{letter-spacing:2.400000px;}
.ls6{letter-spacing:6.720000px;}
.sc_{text-shadow:none;}
.sc1{text-shadow:-0.015em 0 rgb(0,0,0),0 0.015em rgb(0,0,0),0.015em 0 rgb(0,0,0),0 -0.015em  rgb(0,0,0);}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc1{-webkit-text-stroke:0.015em rgb(0,0,0);text-shadow:none;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._c{margin-left:-31.360000px;}
._1e{margin-left:-28.080000px;}
._7{margin-left:-26.880000px;}
._16{margin-left:-25.858880px;}
._6{margin-left:-24.258880px;}
._e{margin-left:-17.760000px;}
._b{margin-left:-14.880000px;}
._1d{margin-left:-13.600000px;}
._17{margin-left:-12.000000px;}
._1a{margin-left:-10.080000px;}
._1b{margin-left:-9.000000px;}
._a{margin-left:-7.680000px;}
._5{margin-left:-6.240000px;}
._d{margin-left:-5.160000px;}
._8{margin-left:-3.389440px;}
._0{margin-left:-2.170560px;}
._1c{margin-left:-1.050560px;}
._2{width:1.269440px;}
._12{width:2.760000px;}
._11{width:4.320000px;}
._15{width:6.192000px;}
._18{width:7.200000px;}
._4{width:9.021120px;}
._3{width:12.000000px;}
._f{width:13.560000px;}
._9{width:15.000000px;}
._1{width:16.330560px;}
._19{width:18.072000px;}
._10{width:21.240000px;}
._14{width:25.286720px;}
._13{width:27.560000px;}
.fc1{color:rgb(255,0,0);}
.fc0{color:rgb(0,0,0);}
.fs2{font-size:36.000000px;}
.fs3{font-size:39.840000px;}
.fs1{font-size:48.000000px;}
.fs0{font-size:63.840000px;}
.fs4{font-size:72.000000px;}
.y1{bottom:0.000000px;}
.y14{bottom:3.960000px;}
.y2e{bottom:5.640000px;}
.y8{bottom:5.760000px;}
.y2f{bottom:6.120000px;}
.y7{bottom:7.560000px;}
.y30{bottom:11.640000px;}
.ya8{bottom:12.840000px;}
.y5{bottom:17.664000px;}
.ya1{bottom:18.120000px;}
.ya2{bottom:18.480000px;}
.y33{bottom:23.880000px;}
.y99{bottom:23.900000px;}
.y60{bottom:23.910000px;}
.ya0{bottom:23.996000px;}
.y0{bottom:24.000000px;}
.y13{bottom:24.030000px;}
.y2d{bottom:37.464000px;}
.y52{bottom:38.040000px;}
.y7a{bottom:38.400000px;}
.y53{bottom:38.520000px;}
.y9f{bottom:43.916000px;}
.y1c{bottom:43.920000px;}
.y98{bottom:43.940000px;}
.y12{bottom:43.950000px;}
.y2c{bottom:44.036000px;}
.y24{bottom:44.040000px;}
.y51{bottom:44.544000px;}
.y61{bottom:45.144000px;}
.y3d{bottom:45.624000px;}
.y2b{bottom:63.956000px;}
.y1b{bottom:63.960000px;}
.y97{bottom:63.980000px;}
.y11{bottom:63.990000px;}
.y25{bottom:65.544000px;}
.y80{bottom:77.996000px;}
.y81{bottom:78.356000px;}
.y41{bottom:83.876000px;}
.y32{bottom:83.880000px;}
.y7d{bottom:83.900000px;}
.y50{bottom:83.910000px;}
.y2a{bottom:83.996000px;}
.y1a{bottom:84.000000px;}
.y10{bottom:84.030000px;}
.y9b{bottom:85.104000px;}
.y3e{bottom:98.036000px;}
.y44{bottom:98.040000px;}
.y4a{bottom:98.060000px;}
.y5e{bottom:98.070000px;}
.y3f{bottom:98.396000px;}
.y4b{bottom:98.420000px;}
.y5f{bottom:98.430000px;}
.y45{bottom:98.520000px;}
.y40{bottom:103.916000px;}
.y19{bottom:103.920000px;}
.y4c{bottom:103.940000px;}
.y9e{bottom:103.946000px;}
.yf{bottom:103.950000px;}
.y29{bottom:104.036000px;}
.y23{bottom:104.040000px;}
.y72{bottom:104.070000px;}
.y4d{bottom:105.140000px;}
.y8b{bottom:105.620000px;}
.y79{bottom:106.100000px;}
.y91{bottom:117.960000px;}
.y96{bottom:117.980000px;}
.y26{bottom:118.076000px;}
.y16{bottom:118.080000px;}
.y89{bottom:118.100000px;}
.y9c{bottom:118.106000px;}
.y93{bottom:118.110000px;}
.y17{bottom:118.440000px;}
.y8a{bottom:118.460000px;}
.y9d{bottom:118.466000px;}
.y27{bottom:118.556000px;}
.y94{bottom:118.590000px;}
.y6c{bottom:123.956000px;}
.y18{bottom:123.960000px;}
.y5c{bottom:123.980000px;}
.y28{bottom:123.986000px;}
.ye{bottom:123.990000px;}
.y85{bottom:137.996000px;}
.y47{bottom:138.000000px;}
.y59{bottom:138.020000px;}
.y7f{bottom:138.030000px;}
.y56{bottom:138.150000px;}
.y86{bottom:138.476000px;}
.y48{bottom:138.480000px;}
.y5a{bottom:138.500000px;}
.y57{bottom:138.510000px;}
.y90{bottom:143.880000px;}
.y6b{bottom:143.906000px;}
.y4f{bottom:143.910000px;}
.y22{bottom:144.000000px;}
.y5b{bottom:144.020000px;}
.yd{bottom:144.030000px;}
.y7e{bottom:145.580000px;}
.ya7{bottom:150.980000px;}
.ya{bottom:154.830000px;}
.ya6{bottom:155.900000px;}
.y63{bottom:158.060000px;}
.y4e{bottom:158.070000px;}
.y8e{bottom:158.420000px;}
.yb{bottom:158.430000px;}
.y64{bottom:158.540000px;}
.y8d{bottom:158.550000px;}
.y78{bottom:163.940000px;}
.y6a{bottom:163.946000px;}
.yc{bottom:163.950000px;}
.y21{bottom:164.040000px;}
.y65{bottom:164.060000px;}
.y71{bottom:164.070000px;}
.y5d{bottom:165.620000px;}
.y3a{bottom:166.100000px;}
.y1e{bottom:178.100000px;}
.y1f{bottom:178.460000px;}
.y20{bottom:183.980000px;}
.y69{bottom:183.986000px;}
.y39{bottom:183.990000px;}
.ya5{bottom:192.770000px;}
.y66{bottom:198.026000px;}
.y3b{bottom:198.030000px;}
.ya3{bottom:198.140000px;}
.y83{bottom:198.150000px;}
.ya4{bottom:198.500000px;}
.y67{bottom:198.506000px;}
.y3c{bottom:198.510000px;}
.y68{bottom:203.906000px;}
.y77{bottom:204.020000px;}
.y38{bottom:204.030000px;}
.y1d{bottom:206.090000px;}
.y74{bottom:218.060000px;}
.y35{bottom:218.070000px;}
.y75{bottom:218.540000px;}
.y36{bottom:218.550000px;}
.y76{bottom:223.940000px;}
.y88{bottom:223.950000px;}
.y84{bottom:224.060000px;}
.y37{bottom:224.070000px;}
.y9a{bottom:225.650000px;}
.y73{bottom:226.610000px;}
.y6e{bottom:238.110000px;}
.y6f{bottom:238.470000px;}
.y70{bottom:243.990000px;}
.y62{bottom:266.090000px;}
.y49{bottom:285.650000px;}
.y58{bottom:286.130000px;}
.y7c{bottom:306.170000px;}
.y95{bottom:366.170000px;}
.y34{bottom:386.590000px;}
.y46{bottom:406.150000px;}
.y15{bottom:406.630000px;}
.y7b{bottom:426.670000px;}
.y55{bottom:446.590000px;}
.y8c{bottom:466.630000px;}
.y6d{bottom:467.110000px;}
.y92{bottom:506.590000px;}
.y9{bottom:547.150000px;}
.y43{bottom:566.620000px;}
.y8f{bottom:567.220000px;}
.y54{bottom:607.180000px;}
.y31{bottom:627.220000px;}
.y87{bottom:647.140000px;}
.y82{bottom:667.180000px;}
.y42{bottom:687.220000px;}
.y6{bottom:727.660000px;}
.y4{bottom:760.800000px;}
.y3{bottom:779.760000px;}
.y2{bottom:802.800000px;}
.h6{height:23.640000px;}
.hb{height:27.600000px;}
.h1d{height:36.744000px;}
.h3{height:37.687500px;}
.h10{height:39.960000px;}
.h1c{height:40.080000px;}
.h5{height:41.415703px;}
.h4{height:49.898438px;}
.h2{height:50.124375px;}
.h1e{height:56.531250px;}
.h13{height:60.000000px;}
.h18{height:80.040000px;}
.hc{height:99.960000px;}
.hf{height:120.000000px;}
.h12{height:120.020000px;}
.h1b{height:139.920000px;}
.h1a{height:139.940000px;}
.h8{height:140.040000px;}
.ha{height:140.060000px;}
.h19{height:159.960000px;}
.h11{height:159.980000px;}
.h14{height:160.100000px;}
.h7{height:180.020000px;}
.h9{height:200.060000px;}
.h15{height:219.980000px;}
.he{height:220.010000px;}
.h17{height:220.100000px;}
.hd{height:240.020000px;}
.h16{height:260.060000px;}
.h1{height:794.000000px;}
.h0{height:841.920000px;}
.w6{width:28.200000px;}
.w3{width:41.760000px;}
.w5{width:42.000000px;}
.w8{width:125.540000px;}
.w7{width:375.190000px;}
.w4{width:403.270000px;}
.w1{width:547.500000px;}
.w2{width:595.319991px;}
.w0{width:595.320000px;}
.x1{left:0.000009px;}
.xb{left:5.160000px;}
.xf{left:7.200000px;}
.x7{left:8.880000px;}
.xa{left:17.880000px;}
.x0{left:24.000000px;}
.x6{left:64.344000px;}
.x2{left:103.579991px;}
.x8{left:106.580000px;}
.xc{left:134.660000px;}
.x9{left:177.630000px;}
.x3{left:220.249991px;}
.xe{left:232.130000px;}
.xd{left:242.089991px;}
.x5{left:244.609991px;}
.x4{left:259.729991px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls8{letter-spacing:-32.000000pt;}
.ls5{letter-spacing:-7.040000pt;}
.ls7{letter-spacing:-4.480000pt;}
.ls9{letter-spacing:-2.240000pt;}
.lsa{letter-spacing:-0.640000pt;}
.ls0{letter-spacing:0.000000pt;}
.ls1{letter-spacing:0.320000pt;}
.ls4{letter-spacing:0.640000pt;}
.ls2{letter-spacing:1.920000pt;}
.ls3{letter-spacing:3.200000pt;}
.ls6{letter-spacing:8.960000pt;}
.ws0{word-spacing:0.000000pt;}
._c{margin-left:-41.813333pt;}
._1e{margin-left:-37.440000pt;}
._7{margin-left:-35.840000pt;}
._16{margin-left:-34.478507pt;}
._6{margin-left:-32.345173pt;}
._e{margin-left:-23.680000pt;}
._b{margin-left:-19.840000pt;}
._1d{margin-left:-18.133333pt;}
._17{margin-left:-16.000000pt;}
._1a{margin-left:-13.440000pt;}
._1b{margin-left:-12.000000pt;}
._a{margin-left:-10.240000pt;}
._5{margin-left:-8.320000pt;}
._d{margin-left:-6.880000pt;}
._8{margin-left:-4.519253pt;}
._0{margin-left:-2.894080pt;}
._1c{margin-left:-1.400747pt;}
._2{width:1.692587pt;}
._12{width:3.680000pt;}
._11{width:5.760000pt;}
._15{width:8.256000pt;}
._18{width:9.600000pt;}
._4{width:12.028160pt;}
._3{width:16.000000pt;}
._f{width:18.080000pt;}
._9{width:20.000000pt;}
._1{width:21.774080pt;}
._19{width:24.096000pt;}
._10{width:28.320000pt;}
._14{width:33.715627pt;}
._13{width:36.746667pt;}
.fs2{font-size:48.000000pt;}
.fs3{font-size:53.120000pt;}
.fs1{font-size:64.000000pt;}
.fs0{font-size:85.120000pt;}
.fs4{font-size:96.000000pt;}
.y1{bottom:0.000000pt;}
.y14{bottom:5.280000pt;}
.y2e{bottom:7.520000pt;}
.y8{bottom:7.680000pt;}
.y2f{bottom:8.160000pt;}
.y7{bottom:10.080000pt;}
.y30{bottom:15.520000pt;}
.ya8{bottom:17.120000pt;}
.y5{bottom:23.552000pt;}
.ya1{bottom:24.160000pt;}
.ya2{bottom:24.640000pt;}
.y33{bottom:31.840000pt;}
.y99{bottom:31.866667pt;}
.y60{bottom:31.880000pt;}
.ya0{bottom:31.994667pt;}
.y0{bottom:32.000000pt;}
.y13{bottom:32.040000pt;}
.y2d{bottom:49.952000pt;}
.y52{bottom:50.720000pt;}
.y7a{bottom:51.200000pt;}
.y53{bottom:51.360000pt;}
.y9f{bottom:58.554667pt;}
.y1c{bottom:58.560000pt;}
.y98{bottom:58.586667pt;}
.y12{bottom:58.600000pt;}
.y2c{bottom:58.714667pt;}
.y24{bottom:58.720000pt;}
.y51{bottom:59.392000pt;}
.y61{bottom:60.192000pt;}
.y3d{bottom:60.832000pt;}
.y2b{bottom:85.274667pt;}
.y1b{bottom:85.280000pt;}
.y97{bottom:85.306667pt;}
.y11{bottom:85.320000pt;}
.y25{bottom:87.392000pt;}
.y80{bottom:103.994667pt;}
.y81{bottom:104.474667pt;}
.y41{bottom:111.834667pt;}
.y32{bottom:111.840000pt;}
.y7d{bottom:111.866667pt;}
.y50{bottom:111.880000pt;}
.y2a{bottom:111.994667pt;}
.y1a{bottom:112.000000pt;}
.y10{bottom:112.040000pt;}
.y9b{bottom:113.472000pt;}
.y3e{bottom:130.714667pt;}
.y44{bottom:130.720000pt;}
.y4a{bottom:130.746667pt;}
.y5e{bottom:130.760000pt;}
.y3f{bottom:131.194667pt;}
.y4b{bottom:131.226667pt;}
.y5f{bottom:131.240000pt;}
.y45{bottom:131.360000pt;}
.y40{bottom:138.554667pt;}
.y19{bottom:138.560000pt;}
.y4c{bottom:138.586667pt;}
.y9e{bottom:138.594667pt;}
.yf{bottom:138.600000pt;}
.y29{bottom:138.714667pt;}
.y23{bottom:138.720000pt;}
.y72{bottom:138.760000pt;}
.y4d{bottom:140.186667pt;}
.y8b{bottom:140.826667pt;}
.y79{bottom:141.466667pt;}
.y91{bottom:157.280000pt;}
.y96{bottom:157.306667pt;}
.y26{bottom:157.434667pt;}
.y16{bottom:157.440000pt;}
.y89{bottom:157.466667pt;}
.y9c{bottom:157.474667pt;}
.y93{bottom:157.480000pt;}
.y17{bottom:157.920000pt;}
.y8a{bottom:157.946667pt;}
.y9d{bottom:157.954667pt;}
.y27{bottom:158.074667pt;}
.y94{bottom:158.120000pt;}
.y6c{bottom:165.274667pt;}
.y18{bottom:165.280000pt;}
.y5c{bottom:165.306667pt;}
.y28{bottom:165.314667pt;}
.ye{bottom:165.320000pt;}
.y85{bottom:183.994667pt;}
.y47{bottom:184.000000pt;}
.y59{bottom:184.026667pt;}
.y7f{bottom:184.040000pt;}
.y56{bottom:184.200000pt;}
.y86{bottom:184.634667pt;}
.y48{bottom:184.640000pt;}
.y5a{bottom:184.666667pt;}
.y57{bottom:184.680000pt;}
.y90{bottom:191.840000pt;}
.y6b{bottom:191.874667pt;}
.y4f{bottom:191.880000pt;}
.y22{bottom:192.000000pt;}
.y5b{bottom:192.026667pt;}
.yd{bottom:192.040000pt;}
.y7e{bottom:194.106667pt;}
.ya7{bottom:201.306667pt;}
.ya{bottom:206.440000pt;}
.ya6{bottom:207.866667pt;}
.y63{bottom:210.746667pt;}
.y4e{bottom:210.760000pt;}
.y8e{bottom:211.226667pt;}
.yb{bottom:211.240000pt;}
.y64{bottom:211.386667pt;}
.y8d{bottom:211.400000pt;}
.y78{bottom:218.586667pt;}
.y6a{bottom:218.594667pt;}
.yc{bottom:218.600000pt;}
.y21{bottom:218.720000pt;}
.y65{bottom:218.746667pt;}
.y71{bottom:218.760000pt;}
.y5d{bottom:220.826667pt;}
.y3a{bottom:221.466667pt;}
.y1e{bottom:237.466667pt;}
.y1f{bottom:237.946667pt;}
.y20{bottom:245.306667pt;}
.y69{bottom:245.314667pt;}
.y39{bottom:245.320000pt;}
.ya5{bottom:257.026667pt;}
.y66{bottom:264.034667pt;}
.y3b{bottom:264.040000pt;}
.ya3{bottom:264.186667pt;}
.y83{bottom:264.200000pt;}
.ya4{bottom:264.666667pt;}
.y67{bottom:264.674667pt;}
.y3c{bottom:264.680000pt;}
.y68{bottom:271.874667pt;}
.y77{bottom:272.026667pt;}
.y38{bottom:272.040000pt;}
.y1d{bottom:274.786667pt;}
.y74{bottom:290.746667pt;}
.y35{bottom:290.760000pt;}
.y75{bottom:291.386667pt;}
.y36{bottom:291.400000pt;}
.y76{bottom:298.586667pt;}
.y88{bottom:298.600000pt;}
.y84{bottom:298.746667pt;}
.y37{bottom:298.760000pt;}
.y9a{bottom:300.866667pt;}
.y73{bottom:302.146667pt;}
.y6e{bottom:317.480000pt;}
.y6f{bottom:317.960000pt;}
.y70{bottom:325.320000pt;}
.y62{bottom:354.786667pt;}
.y49{bottom:380.866667pt;}
.y58{bottom:381.506667pt;}
.y7c{bottom:408.226667pt;}
.y95{bottom:488.226667pt;}
.y34{bottom:515.453333pt;}
.y46{bottom:541.533333pt;}
.y15{bottom:542.173333pt;}
.y7b{bottom:568.893333pt;}
.y55{bottom:595.453333pt;}
.y8c{bottom:622.173333pt;}
.y6d{bottom:622.813333pt;}
.y92{bottom:675.453333pt;}
.y9{bottom:729.533333pt;}
.y43{bottom:755.493333pt;}
.y8f{bottom:756.293333pt;}
.y54{bottom:809.573333pt;}
.y31{bottom:836.293333pt;}
.y87{bottom:862.853333pt;}
.y82{bottom:889.573333pt;}
.y42{bottom:916.293333pt;}
.y6{bottom:970.213333pt;}
.y4{bottom:1014.400000pt;}
.y3{bottom:1039.680000pt;}
.y2{bottom:1070.400000pt;}
.h6{height:31.520000pt;}
.hb{height:36.800000pt;}
.h1d{height:48.992000pt;}
.h3{height:50.250000pt;}
.h10{height:53.280000pt;}
.h1c{height:53.440000pt;}
.h5{height:55.220937pt;}
.h4{height:66.531250pt;}
.h2{height:66.832500pt;}
.h1e{height:75.375000pt;}
.h13{height:80.000000pt;}
.h18{height:106.720000pt;}
.hc{height:133.280000pt;}
.hf{height:160.000000pt;}
.h12{height:160.026667pt;}
.h1b{height:186.560000pt;}
.h1a{height:186.586667pt;}
.h8{height:186.720000pt;}
.ha{height:186.746667pt;}
.h19{height:213.280000pt;}
.h11{height:213.306667pt;}
.h14{height:213.466667pt;}
.h7{height:240.026667pt;}
.h9{height:266.746667pt;}
.h15{height:293.306667pt;}
.he{height:293.346667pt;}
.h17{height:293.466667pt;}
.hd{height:320.026667pt;}
.h16{height:346.746667pt;}
.h1{height:1058.666667pt;}
.h0{height:1122.560000pt;}
.w6{width:37.600000pt;}
.w3{width:55.680000pt;}
.w5{width:56.000000pt;}
.w8{width:167.386667pt;}
.w7{width:500.253333pt;}
.w4{width:537.693333pt;}
.w1{width:730.000000pt;}
.w2{width:793.759988pt;}
.w0{width:793.760000pt;}
.x1{left:0.000012pt;}
.xb{left:6.880000pt;}
.xf{left:9.600000pt;}
.x7{left:11.840000pt;}
.xa{left:23.840000pt;}
.x0{left:32.000000pt;}
.x6{left:85.792000pt;}
.x2{left:138.106655pt;}
.x8{left:142.106667pt;}
.xc{left:179.546667pt;}
.x9{left:236.840000pt;}
.x3{left:293.666655pt;}
.xe{left:309.506667pt;}
.xd{left:322.786655pt;}
.x5{left:326.146655pt;}
.x4{left:346.306655pt;}
}
